= section_header 'About'
  
#about.text  

  %p
    I'm a software engineer during the day and a musician during his free time.

  %h3 Programming Language/Frameworks :
  %p
    Java,J2EE,PHP,Ruby,Rails,Visual Basic and abit of C++ and C#

  %h3 Application Servers :
  %p
    Websphere, JBoss, Apache, IIS, Weblogic

  %h3 Database :
  %p
    DB2, Oracle, MS SQL Server, PostgreSQL, MySQL

  %h3 Music Instruments :
  %p 
    Bass Guitar, Guitars and Keyboards
