= section_header 'About'
  
#about.text  

  %h3 About Me
  %p
    I'm a Java Software Developer at 
    = link_to "Movideo Pty Ltd", "http://www.movideo.com"
    &nbsp;. Movideo is a media centric online video platform (OVP). Over here, we're pretty much dealing with Lucene,
    Hibernate, Spring, Struts and some analytics stuff.
    
  %p
    Back in 2002, I started out as a Visual Basic 6 programmer for a startup company. Back then I'm the only programmer in that company.
    Even though VB6 was painful, it does provide me with RAD tools. So I'm pretty much the Software Architect and the Software Developer itself.
    Some how, in my second job, I've managed to move into Java. 
  %p
    Java may not be the most beautiful language in the world, but it provides
    a more stable platform and the community emphasize more on Software Architecture, Design and Best Practices. This is when I first heard
    of JUnit and started my voyage with Test Driven Development (TDD). To please most recruiters, I'm a Sun Certified Programmer 5.0 and a 
    Sun Certified Java Developer.
  

  %h3 My Free Time
  %p
    When I'm not spending time with my wife, I enjoy playing around with tech stuff and reading about software development. When
    I don't feel like facing my computer or reading, I'll be playing my bass guitar. Occasionally, I'll boot up my Sega Dreamcast.
    Yes, you can pry my Dreamcast from my cold dead fingers!
