= section_header 'About'
  
#about.text  

  %h3 Certifications :
  %p
    Sun Certified Java Programmer 5.0
    %br
    Sun Certified Java Developer

  %h3 Programming Language/Frameworks :
  %p
    Java,J2EE,PHP,Ruby,Rails,Visual Basic and abit of C++ and C#

  %h3 Application Servers :
  %p
    Websphere, JBoss, Apache, IIS, Weblogic

  %h3 Database :
  %p
    DB2, PostgreSQL, MS SQL Server, MySQL, Oracle
    
  %h3 Work Exp :
  %p
    8+ years

  %h3 Musical Instruments :
  %p 
    Bass Guitar, Guitars and Keyboards
