= section_header 'About'
  
#about.text  

  %p
    I'm a software engineer and a musician during my free time.

  %h3 Certifications :
  %p
    Sun Certified Java Programmer 5.0
    %br
    Sun Certified Java Developer

  %h3 Programming Language/Frameworks :
  %p
    Java,J2EE,PHP,Ruby,Rails,Visual Basic and abit of C++ and C#

  %h3 Application Servers :
  %p
    Websphere, JBoss, Apache, IIS, Weblogic

  %h3 Database :
  %p
    DB2, Oracle, MS SQL Server, PostgreSQL, MySQL

  %h3 Musical Instruments :
  %p 
    Bass Guitar, Guitars and Keyboards
