= section_header 'Personal Programming Projects', 'prog'

#lunchpicker.text
  %h3 Lunch Picker
  %p
    = link "Lunch Picker", "http://lunch.progriff.com"
    is a random lunchpicker. Developed using Rails, Haml and Sass
    %br
    MIT Licensed. Get the codes
    = link "here", "http://github.com/pugnusferreus/lunchpicker"

= section_header 'Music'

.text
  %h3 Gillian Tan

  .audio
    %p
      %a{:href => "/music/if%20i%20were%20human.mp3"} If I were human
    %dl
      %dt Genre
      %dd Jazz
      %dt Year
      %dd 2009
      %dt Musicians
      %dd
        %dl
          %dt Gillian Tan
          %dd Vocals
          %dt Erik van Helvoort
          %dd Guitars
          %dt Eric K
          %dd Keyboards
          %dt Benson Lim
          %dd Bass

  .audio
    %p
      %a{:href => "/music/runaway.mp3"} Run Away
    %dl
      %dt Genre
      %dd Folk
      %dt Year
      %dd 2010
      %dt Musicians
      %dd
        %dl
          %dt Gillian Tan
          %dd Vocals
          %dt Erik van Helvoort
          %dd Guitars
          %dt Eric K
          %dd Keyboards
          %dt Benson Lim
          %dd Bass
          %dt Katelyn Goh
          %dd Drums

  .audio
    %p
      %a{:href => "/music/this_possible_love.mp3"} This Possible Love
    %dl
      %dt Genre
      %dd Jazz
      %dt Year
      %dd 2010
      %dt Musicians
      %dd
        %dl
          %dt Gillian Tan
          %dd Vocals
          %dt Erik van Helvoort
          %dd Guitars
          %dt Eric K
          %dd Keyboards
          %dt Benson Lim
          %dd Bass
          %dt Katelyn Goh
          %dd Drums

.text  
  %h3 Ira Deorum
  .audio
    %p
      %a{:href => "/music/Iradeorum%20-%20reign_of_flames%20-%20levelled.mp3"} Reign of Flames
    %dl
      %dt Genre
      %dd Power Metal
      %dt Year
      %dd 2008
      %dt Musicians
      %dd
        %dl
          %dt Joie Goh
          %dd Vocals
          %dt Mickey Pang
          %dd Guitars
          %dt Eric K
          %dd Keyboards
          %dt Benson Lim
          %dd Bass
          %dt Lincoln Wong
          %dd Drums

  .audio
    %p
      %a{:href => "/music/Iradeorum%20-%20desert%20child%20-%20levelled%201c.mp3"} Desert Child
    %dl
      %dt Genre
      %dd Power Metal
      %dt Year
      %dd 2008
      %dt Musicians
      %dd
        %dl
          %dt Joie Goh
          %dd Vocals
          %dt Mickey Pang
          %dd Guitars
          %dt Eric K
          %dd Keyboards
          %dt Benson Lim
          %dd Bass
          %dt Lincoln Wong
          %dd Drums


.text
  %h3 What The

  .audio
    %p
      %a{:href => "/music/01%20Ben%20Has%20A%20Thumb.mp3"} Ben Has A Thumb
    %dl
      %dt Genre
      %dd Funk
      %dt Year
      %dd 2005
      %dt Musicians
      %dd
        %dl
          %dt Erik van Helvoort
          %dd Guitars
          %dt Benson Lim
          %dd Bass
          %dt Rex Tanmizi
          %dd Drums

  .audio
    %p
      %a{:href => "/music/what%20the%20-%20darkness.mp3"} The Darkness
    %dl
      %dt Genre
      %dd Alternative
      %dt Year
      %dd 2005
      %dt Musicians
      %dd
        %dl
          %dt Eric K
          %dd Vocals
          %dt Erik van Helvoort
          %dd Guitars
          %dt Benson Lim
          %dd Bass
          %dt Rex Tanmizi
          %dd Drums


  .audio
    %p
      %a{:href => "/music/what%20the%20-%20death%20on%20horse.mp3"} Death Riding On A Pale Horse
    %dl
      %dt Genre
      %dd Alternative
      %dt Year
      %dd 2005
      %dt Musicians
      %dd
        %dl
          %dt Eric K
          %dd Vocals
          %dt Erik van Helvoort
          %dd Guitars
          %dt Benson Lim
          %dd Bass
          %dt Rex Tanmizi
          %dd Drums

  .audio
    %p
      %a{:href => "/music/what%20the%20-%20esmeralda.mp3"} Esmeralda
    %dl
      %dt Genre
      %dd Alternative
      %dt Year
      %dd 2005
      %dt Musicians
      %dd
        %dl
          %dt Eric K
          %dd Vocals
          %dt Erik van Helvoort
          %dd Guitars
          %dt Benson Lim
          %dd Bass
          %dt Rex Tanmizi
          %dd Drums

  .audio
    %p
      %a{:href => "/music/what%20the%20-%20highway.mp3"} Highway Song
    %dl
      %dt Genre
      %dd Blues
      %dt Year
      %dd 2005
      %dt Musicians
      %dd
        %dl
          %dt Eric K
          %dd Vocals
          %dt Erik van Helvoort
          %dd Guitars
          %dt Benson Lim
          %dd Bass
          %dt Rex Tanmizi
          %dd Drums
  .audio
    %p
      %a{:href => "/music/what%20the%20indie%20song.mp3"} Some Indie Song
    %dl
      %dt Genre
      %dd Alternative
      %dt Year
      %dd 2005
      %dt Musicians
      %dd
        %dl
          %dt Eric K
          %dd Vocals
          %dt Erik van Helvoort
          %dd Guitars
          %dt Benson Lim
          %dd Bass
          %dt Rex Tanmizi
          %dd Drums


  .audio
    %p
      %a{:href => "/music/what%20the%20-%20sunshine.mp3"} Walking on Sunshine
    %dl
      %dt Genre
      %dd Reggae + Alternative
      %dt Year
      %dd 2005
      %dt Musicians
      %dd
        %dl
          %dt Eric K
          %dd Vocals
          %dt Erik van Helvoort
          %dd Guitars
          %dt Benson Lim
          %dd Bass
          %dt Rex Tanmizi
          %dd Drums

.text
  %h3 Personal Compositions (this is where progriff came from)

  .audio
    %p
      %a{:href => "/music/ProgRiffNo1.mp3"} ProgRiff No 1
    %dl
      %dt Genre
      %dd Progressive
      %dt Year
      %dd 2005
      %dt Musicians
      %dd
        %dl
          %dt Erik van Helvoort
          %dd Lead Guitars
          %dt Benson Lim
          %dd Rhythm Guitars

  .audio
    %p
      %a{:href => "/music/ProgRiffNo2-4.mp3"} ProgRiff No 2.4
    %dl
      %dt Genre
      %dd Progressive
      %dt Year
      %dd 2007
      %dt Musicians
      %dd
        %dl
          %dt Benson Lim
          %dd All Instruments


  .audio
    %p
      %a{:href => "/music/ProgRiffNo2-Keyboards.mp3"} ProgRiff No 2 with Keyboards 
    %dl
      %dt Genre
      %dd Progressive
      %dt Year
      %dd 2008
      %dt Musicians
      %dd
        %dl
          %dt Benson Lim
          %dd All Instruments
          %dt *special thanks to Ira Deorum for the melodies

  .audio
    %p
      %a{:href => "/music/ProgRiffNo3%20-%20Movement%201%20D%20minor.mp3"} ProgRiff No 3 in D Minor
    %dl
      %dt Genre
      %dd Progressive
      %dt Year
      %dd 2008
      %dt Musicians
      %dd
        %dl
          %dt Benson Lim
          %dd All Instruments


  .audio
    %p
      %a{:href => "/music/ProgRiffNo3%20-%20Movement%202%20G%20minor.mp3"} ProgRiff No 3 in G Minor
    %dl
      %dt Genre
      %dd Progressive
      %dt Year
      %dd 2008
      %dt Musicians
      %dd
        %dl
          %dt Benson Lim
          %dd All Instruments

