html
  overflow-y: scroll

body
  font:
    family: "Helvetica Neue"
    size: 11pt
  background-color: #ffffff

#banner
  height: 190px
  border: #666666 1px solid
  position: relative
  background: url("/images/banner.jpg")

#wrap
  border-top-left-radius: 30px
  -webkit-border-top-left-radius: 30px
  -moz-border-radius-topleft: 30px

#banner
  border-top-left-radius: 27px
  -webkit-border-top-left-radius: 27px
  -moz-border-radius-topleft: 27px

#menu
  height: 10px
  margin-top: 50px
  padding-right: 0px
  text-align: right
  margin-bottom: 1px

#menu ul, #menu li
  margin: 0
  padding: 0
  float: left
  list-style-type: none

#menu a
  min-height: 15px
  border-top: #cc3300 1px solid
  border-bottom: #cc3300 1px solid
  display: block
  min-width: 40px
  padding: 2px
  text-decoration: none
  color: #660000

#menu a:hover
  border-top: #aaaaaa 1px solid
  border-bottom: #aaaaaa 1px solid
  min-height: 0px
  padding: 2px

#wrap
  margin: 0 auto
  width: 760px
  height: auto
  background-repeat: repeat-y
  background: #cccccc
  border: #666666 3px solid

#header
  position: absolute
  bottom: 1em
  right: 0
  margin-top: 10px
  font: "Helvetica"
  font-size: 13px
  background-color: #663333
  background-color: rgba(255, 255, 255, 0.85)
  color: white
  text-align: right
  border-top-left-radius: 10px
  -webkit-border-top-left-radius: 10px
  -moz-border-radius-topleft: 10px
  border-bottom-left-radius: 10px
  -webkit-border-bottom-left-radius: 10px
  -moz-border-radius-bottomleft: 10px
  h1
    padding: 0
    margin-top: 0.1em
    margin-bottom: 0.2em
    margin-left: 0.5em
    margin-right: 2em
    width: 300px
    height: 50px
    background: url("/images/logo.png") no-repeat center

.text
  margin-bottom: 10px
  margin-left: 30px
  color: black
  line-height: 1.3em
  li
    margin-bottom: 0.5em
    p
      margin-bottom: 0.5em
  h2
    margin-left: 10px
    margin-top: 5px
    margin-bottom: 0
  h3
    margin-left: 20px
    margin-top: 1em
    margin-bottom: 0.5em
    color: #333333
  p
    margin-left: 20px
    margin-right: 100px
    margin-top: 0.5em
    margin-bottom: 1em

.player_div
  width: 100px
  height: 20px

.audio
  margin-left: 20px
  margin-bottom: 1em
  border: #756142 - #050505 2px solid
  display: inline-block
  overflow: auto
  padding: 1em
  padding-top: 0.5em
  background-color: #756142
  color: white
  border-bottom-right-radius: 10px
  -webkit-border-bottom-right-radius: 10px
  -moz-border-radius-bottomright: 10px
  -webkit-box-shadow: 4px 4px 16px rgba(64, 64, 64, 0.4)
  -moz-box-shadow: 4px 4px 16px rgba(64, 64, 64, 0.4)
  .controls
    margin: 0
    padding: 0
    a.download img
      border: none
      width: 24px
  dl
    dt
      float: left
      clear: left
      display: inline-block
      color: rgba(255, 255, 255, 0.7)
      padding-right: 0.4em
      min-width: 5em
      &::after
        content: ":"
    dd
      float: left
      margin-left: 0
      color: rgba(255, 255, 255, 0.9)
      dl
        margin: 0
        dt
          min-width: 0
          color: inherit
          &::after
            content: ""
        dd
          margin-left: 0
          padding-left: 0
          color: rgba(192, 192, 192, 0.7)
          &::before
            content: "- "

#footer
  clear: both
  margin: 0 auto
  padding: 0px 0 0px 0
  border-top: 1px solid #cccccc
  width: 760px
  text-align: center
  color: white
  font-size: 12px
  background-color: rgba(102, 102, 102, 0.8)

#footer a
  text-decoration: none

#footer img
  border: none

#footer a:hover
  text-decoration: underline

#links
  margin-bottom: 100px

#about
  margin-bottom: 50px

#content
  margin-top: 50px
  color: #000000

h2
  margin-left: 10px
  color: #333333
  font: "Helvetica"
  size: 12pt
  margin-bottom: -1em
  margin-top: 1.5em
  img
    vertical-align: middle
    margin-bottom: 1em
    margin-right: 0.25em

#twitter
  h2
    text-align: left
    margin-right: 20px
  margin-bottom: 40px
  .tweet .tweet_list, .query .tweet_list
    list-style-type: none
    margin: 0
    padding: 0
    background-color: rgba(100, 230, 205, 0.85)
  .tweet .tweet_list .awesome, .tweet .tweet_list .epic, .query .tweet_list .awesome, .query .tweet_list .epic
    text-transform: uppercase
  .tweet .tweet_list li, .query .tweet_list li
    overflow-y: auto
    overflow-x: hidden
    padding: 0.5em
  .tweet .tweet_list li a, .query .tweet_list li a
    color: #0c717a
  .tweet .tweet_list .tweet_even, .query .tweet_list .tweet_even
    background-color: rgba(210, 210, 200, 0.85)
  .tweet .tweet_list .tweet_avatar, .query .tweet_list .tweet_avatar
    padding-right: 0.5em
    float: left
  .tweet .tweet_list .tweet_avatar img, .query .tweet_list .tweet_avatar img
    vertical-align: middle
  .tweet
    box-shadow: 4px 4px 16px rgba(64, 64, 64, 0.8)
    -webkit-box-shadow: 4px 4px 16px rgba(64, 64, 64, 0.8)
    -moz-box-shadow: 4px 4px 16px rgba(64, 64, 64, 0.8)
